h1 {
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

button {
  min-width: 16%;
  height: 37px;
  border: none;
  background-color: #204fa1;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 20px;
}

.Content {
  border-radius: 10px;
  display: flex;
  border: 1px solid violet;
  margin: 39px;
  background: #f2f2f2 url(https://formbuilder.online/assets/img/noise.png)
    repeat fixed;
}
@media only screen and (min-width: 600px) {
  .Content {
    padding: 26px;
  }
}
@media only screen and (max-width: 600px) {
  .Content {
    margin: 0;
    width: 100%;
  }
}

.drager {
  display: block;
  width: 76%;
  margin-left: 0;
}
.myli {
  margin-left: 8px;
  /* margin-right: -22px; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid sandybrown;
  margin-top: 9px;
  background-color: white;
  height: 35px;
  width: 119%;
  padding: 2px;
  text-align: center;
}

.buttons {
  position: relative;
  top: 9px;
}

@media only screen and (max-width: 600px) {
  .buttons {
    font-size: 12px;
  }
}

.Droperdiv {
  width: 100%;
}
.Droper {
  border: 1px solid black;

  height: 100%;
}
.head3 {
  color: #020202;
}

.formsDrop-1 {
  width: 100%;
  display: flex;
  border-radius: 18px;
  background-color: #eaebe7;
  padding: 20px;
}
.formsDrop-2 {
  margin-bottom: 8px;
  width: 16%;
  display: flex;
  margin-left: 2px;
  border-left: 1px solid burlywood;
  margin-right: -21px;
}

@media only screen and (max-width: 600px) {
  .formsDrop-2 {
    margin-right: 10px;
    width: 28%;
    /* margin-left: 10px; */
  }
}

.elements {
  border-radius: 5px;
  display: block;
  justify-content: center;
  border: 1px solid sandybrown;
  margin-top: 5px;
  background-color: white;
  width: 127%;
  padding: 2px;
  /* margin: 13px; */
  margin-left: 6px;
  margin-bottom: 9px;
}

.elemnt {
  height: 10%;
  width: 94%;
  margin-left: 13px;
  justify-content: end;
  /* display: flex; */
  text-align: initial;
  /* margin-right: -16px; */
  position: relative;
  top: -15px;
  margin-top: 27px;
  margin-bottom: 5px;
}

.elemnt input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124;
  border-top: none;
  width: 33%;
  height: 27px;
  /* border: 3px solid #989898; */
  /* border-radius: 4px; */
  border-left: none;
  border-right: none;
}
.elemnt .Checkbox {
  width: 19px;
}

.elemnt h1 {
  position: relative;
  top: -8px;
}

.optiondiv {
  margin-top: 27px;
  /* height: 0; */
  margin-bottom: -31px;
}

.myselect {
  width: 103%;
  height: 39px;
}
.titleofelem .head3 {
  color: black;
  line-break: anywhere;
  text-align: end;
  display: flex;

  margin-left: 7px;
  margin-top: -1px;
  font-family: sans-serif;
  font-weight: 100;
}
.titleofelem {
  margin-left: 7px;
  margin-top: 2px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.optionbar {
  width: 0;
  margin-left: auto;
  margin-right: 49px;
  position: relative;
  position: relative;
  display: flex;
  top: -36px;
  height: 0;
}

.elemnt button {
  font-size: 1em;
  padding: 8px;
  /* background-color: #926a6a; */
  /* color: #fff; */
  border-radius: 4px;
  /* border: none; */
  cursor: pointer;
}

.allContent {
  width: 100%;
}

.editContent {
  padding: 10px 5px;
  background: #f7f7f7;
  border-radius: 3px;
  margin: 7px;
  border: 1px solid #c5c5c5;
  transition: background-color 0.5s ease-in-out;
}

.closeOptionbar {
  width: 0;
  margin-left: 97%;
  margin-right: 0;
}

.inputdiv {
  width: 100%;
  margin-right: 5%;
}

.inputdiv input {
  width: 100%;
  height: 26px;
  border: 3px solid #989898;
  border-radius: 4px;
}

.labeldiv {
  margin-left: 30px;
  margin-right: 75px;
}
.labeldiv label {
  width: 16.66666667%;
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  font-weight: 700;
  float: left;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.material-symbols-outlined {
  color: red;
  border-radius: 6px;
  font-family: cursive;
  font-size: 17px;
  font-weight: 900;
  position: relative;
  top: 8px;
  height: 21px;
  width: 22px;
  left: 1px;
}
.material-symbols-outlined:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

.plus {
  font-size: 16px;
}

.addoption {
  border: 1px solid #c5c5c5;
  height: 30px;
  width: 113px;
  background-color: #fab464;
  border: 0.2px sol;
  border-radius: 5px;
  font-family: monospace;
  font-weight: 800;
  font-size: 15px;
}
.toGrid {
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.buttondiv {
  position: relative;
  top: 11px;
}
.buttondiv button {
  border: 1px solid #c5c5c5;
  height: 25px;
  /* border: none; */
  border-bottom: 1px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 14px;
  min-width: 20px;
  height: 25px;
  width: 8%;
}

.labelL {
  position: relative;
  bottom: 8px;
  font-weight: 700;
}

.titlediv {
  display: flex;
  margin-left: 3%;
}

.requireddiv {
  display: flex;
  margin-left: 6%;
  margin-top: 2px;
  margin-bottom: 22px;
  display: flex;
  margin-left: 6%;
}

.reqtitlediv {
  display: flex;
}

.req {
  margin-left: 5px;
  color: red;
}

.actionsvg {
  position: relative;

  width: 22px;
  cursor: pointer;
  color: #ff0000;
  border-radius: 6px;
}

.material-symbols-outlined {
  color: red;
  border-radius: 6px;
}
.actionsvg:hover {
  filter: invert(100%) sepia(3%) saturate(16%) hue-rotate(146deg)
    brightness(104%) contrast(100%);
}

.material-symbols-outlined {
  cursor: pointer;
}

.alldiv {
  background-color: antiquewhite;
}

.myform {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .prevbutton {
    margin-top: 4%;
    padding-left: 0%;
  }
}
@media only screen and (min-width: 600px) {
  .prevbutton {
    padding-left: 4%;
  }
}

.prevbutton {
  text-align: left;
}
.prevbutton button {
  cursor: pointer;
  border-radius: 6px;
  height: 35px;
  border: none;
  color: white;
  background: #4a83ff;
  font-size: 18px;
  font-weight: 500;
  font-family: monospace;
}

h1 {
  line-break: anywhere;
}
p {
  line-break: anywhere;
}

/* ----------------------- BLUR -------------------- */
.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 2s forwards;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

/* ----------------------- END BLUR -------------------- */

.previewform {
  width: 50%;
  margin: 46px;
  position: absolute;
  top: 64px;
  left: 13%;
}
@media only screen and (min-width: 600px) {
  .previewform {
    width: 50%;
    margin: 46px;
    position: absolute;
    top: 64px;
    left: 21%;
  }
}
.Contentform {
  background: #f0ebf8;
  border-radius: 4px;
  display: flex;
  border: 1px solid violet;
  padding-top: 37px;
  border-radius: 19px;
}
@media only screen and (max-width: 600px) {
  .Contentform {
    margin: 0;
    width: 100%;
  }
}

.allbtnform {
  display: flex;
}

.formbtn button {
  margin-right: 31px;
  cursor: pointer;
  border-radius: 6px;
  height: 35px;
  border: none;
  color: white;
  background: #4a83ff;
  font-size: 18px;
  font-weight: 500;
  font-family: monospace;
  margin-top: 10px;
}

.titleofelemform {
  margin-left: 7px;
  /* margin-top: 27px; */
}

.elemntform {
  height: 10%;
  width: 94%;
  margin-left: 13px;
  justify-content: end;
  /* display: flex; */
  text-align: initial;
  /* margin-right: -16px; */
  position: relative;
  top: -15px;
  margin-top: 17px;
  margin-bottom: 5px;
}

.reqtitledivform {
  display: flex;
}

.reqform {
  position: relative;
  bottom: -16px;
  margin-left: 5px;
  color: red;
}

.elemntform input {
  background-color: transparent;

  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124;
  border-top: none;
  width: 33%;
  height: 27px;
  /* border: 3px solid #989898; */
  /* border-radius: 4px; */
  border-left: none;
  border-right: none;
}

.dragerform {
  display: block;

  margin-left: 0;
}

.divcontentform {
  padding: 2px;
  margin: 10px;
  /* width: 100%; */
  background-color: white;
  display: block;
  border-radius: 13px;
  background-color: white;
}

.alldivform {
  border-radius: 19px;
}
